.env
*.env.local
backend/firebase-service-account.json
**/node_modules/
**/dist/
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/pubspec.lock
mobile/.isar/
**/*.log
.DS_Store
.idea/
.vscode/
*.exe
backend/tmp/
web/dist/
.terraform/
*.tfstate*
.terraform.lock.hcl
